
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #49b5e7;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #1da2e0;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0f394c;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #49b5e7;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0f394c;
  text-transform: uppercase;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #49b5e7;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 23px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #49b5e7;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0f394c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #49b5e7;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(7, 25, 33, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: #f9f9f9;
}

#hero .container {
  padding-top: 75px;
}
.heading{
  font-size: 3rem;
  font-weight: bolder;
  font-family: sans-serif;
  color: #020222;
}
.tab-menu {
  text-align: center;
}
.tab-menu ul.nav {
  margin: 0;
  padding: 0;
}
.tab-menu ul.nav li {
  display: inline;
}
.tab-menu ul.nav li:last-child {
  border-top-right-radius: 10px;
}
.tab-menu ul.nav li .show {
  color: #000;
  display: block;
  font-weight: 500;
  padding: 10px 50px;
  font-family: cursive;
  font-size: 18px;
  
}
.tab-menu ul.nav li .active {
  color: #000;
  display: block;
  font-weight: 500;
  padding: 10px 50px;
  font-family: cursive;
  font-size: 18px;
  background: #fff;
  border-top: 2px solid rgb(27, 98, 231);
  border-radius: 7px 0 0 0;
}
.tab-menu ul.nav li a:hover {
  text-decoration: none;
}
.tab-menu ul.nav li .show-2:not(:focus) {
  color: #000;
  display: block;
  font-weight: 500;
  padding: 10px 50px;
  font-family: cursive;
  font-size: 18px;

}
.tab-menu ul.nav li .show-2:focus{
  color: #000;
  display: block;
  font-weight: 500;
  padding: 10px 50px;
  font-family: cursive;
  font-size: 18px;
  border-top: 2px solid rgb(27, 231, 27);
  border-radius: 7px 0 0 0;
  background: #fff;
}

.tab-content{
  background: #fff;
  
}

/*  */

.more{
  font-size: 1.1rem;
  color: #0f0fad;
}
.dd{
  font-weight: bold;
}

/*  */
.bg-light{
  background: #f9f9f9;
}
.bg-blue{
  background: rgba(180, 203, 245, 0.3);
}
.bg-orange{
  background: rgba(245, 199, 180, 0.3);
}
.bg-pink{
  background: rgba(245, 180, 234, 0.3);
}
.card-link{
  color: #020222;
}

/*  */
.round{
  border-radius: 100px;
}
.bg{
  background: linear-gradient(to right, rgb(2, 14, 68), rgb(2, 25, 70));
}
.head-2{
  font-size: 2.3rem;
  font-family: sans-serif;
  font-weight: bolder;
}
.get-ans{
  padding: 15px 35px;
}
.img-border{
  border: 3px solid rgb(214, 57, 57);
}
.img-border-2{
  border: 3px solid rgb(110, 182, 248);
}
.img-border-3{
  border: 3px solid rgb(132, 252, 162);
}
.img-border-4{
  border: 3px solid rgb(247, 167, 250);
}
.get-started{
  background: url('/assets/img/red.svg') center center;
  background-size: cover;
}
.para{
  font-size: .75rem;
  color: #000;
  padding-top: 10px;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

footer .social-links a:hover {
  background: #1da2e0;
  color: #fff;
  text-decoration: none;
}
@media(max-width:576px){
  .heading{
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
    color: #020222;
  }
}